
8kyu/cw-8kya-shortLongShort/
8kyu/cw-8kya-reverseStrings/
8kyu/cw-8kya-reverseArray/
8kyu/cw-8kya-removeEmptySpacesfromString/
8kyu/cw-8kya-multiplynumbers/
8kyu/cw-8kya-makeNegativeNumber/
8kyu/cw-8kya-makeNameStringReturnIntials/
8kyu/cw-8kya-grow/
8kyu/cw-8kya-fakeBinary/
8kyu/cw-8kya-checkCaseMatch/
8kyu/CW - 8Kyu - RPS/mathfunctions/Simple-math-functiosn/
8kyu/CW - 8Kyu - RPS/FirstName - LastName switch/First-Name-to-Last-Name-swapper/
8kyu/CW - 8Kyu - RPS/even-or-odd/
8kyu/CW - 8Kyu - RPS/cw-8kya-rps/
7kyu/cw-7kyu-vowelCounter/
7kyu/cw-7kyu-squareEveryDigit/
7kyu/cw-7kyu-highestOrLowest/
7kyu/cw-7kyu-findMiddleOfString/
7kyu/cw-7kyu-disemvowelTrolls/
7kyu/cw-7kya-oddOrEvenUsingArrays/
7kyu/cw-7kya-filterArrayReturnOneType/
